<ul class="navbar-nav" id="globalNavbarMobileInner">
	<li class="nav-item catalogMenuLink dropdown ">
		<a href="https://recro.ru/catalog/pokrytiya-iz-kroshki/" class="dropdown-toggle mobileCenterLi" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Стадионы, беговые дорожки</a>
		<div class="dropdown-menu">
			<a  href="https://recro.ru/catalog/professionalnye-begovye-dorozhki/" class="dropdown-item mobileCenterLi">Профессиональные беговые дорожки</a>
			<a  href="https://recro.ru/catalog/futbolnye-polya/" class="dropdown-item mobileCenterLi">Футбольные поля</a>
			<a  href="https://recro.ru/catalog/sportivnaya-razmetka/" class="dropdown-item mobileCenterLi">Спортивная разметка</a>
		</div>
	</li>
	<li class="nav-item catalogMenuLink dropdown ">
		<a href="https://recro.ru/catalog/rezinovie-pliti/" class="dropdown-toggle mobileCenterLi" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Покрытия из резиновой крошки</a>
		<div class="dropdown-menu">
			<a  href="https://recro.ru/catalog/detskie-plochadki/" class="dropdown-item mobileCenterLi">Детские площадки</a>
			<a  href="https://recro.ru/catalog/sportivnie-plochadki/" class="dropdown-item mobileCenterLi">Cпортивные площадки</a>
			<a  href="https://recro.ru/catalog/rezinovye-plity/" class="dropdown-item mobileCenterLi">Резиновые плитки</a>
			<a  href="https://recro.ru/catalog/antirekoshet/" class="dropdown-item mobileCenterLi">Антирикошетные покрытия (для тира)</a>
			<a  href="https://recro.ru/catalog/dlya-dachi-i-chastnogo-doma/" class="dropdown-item mobileCenterLi">Для дачи и частного дома</a>
		</div>
	</li>
	<li class="nav-item catalogMenuLink"><a href="/catalog/sportivnye-zaly/" class="mobileCenterLi">Спортивные залы</a></li>
	<li class="nav-item catalogMenuLink"><a href="/catalog/promyshlennye-poly/" class="mobileCenterLi">Промышленные полы</a></li>
	<li class="nav-item catalogMenuLink dropdown ">
		<a href="https://recro.ru/catalog/materiali/" class="dropdown-toggle mobileCenterLi" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Материалы</a>
		<div class="dropdown-menu">
			<a  href="https://recro.ru/catalog/krashennaya-sbr/" class="dropdown-item mobileCenterLi">Окрашенная SBR крошка</a>
			<a  href="https://recro.ru/catalog/rezinovaya-kroshka/" class="dropdown-item mobileCenterLi">Резиновая SBR крошка</a>
			<a  href="https://recro.ru/catalog/poliuretanovyy-kley/" class="dropdown-item mobileCenterLi">Полиуретановый клей</a>
			<a  href="https://recro.ru/catalog/kroshka-epdm/" class="dropdown-item mobileCenterLi">EPDM крошка</a>
			<a  href="https://recro.ru/catalog/pigment/" class="dropdown-item mobileCenterLi">Пигменты</a>
			<a  href="https://recro.ru/catalog/iskusstvennaya-trava/" class="dropdown-item mobileCenterLi">Искусственная трава</a>
			<a  href="https://recro.ru/catalog/instrumenty-dlya-ukladki/" class="dropdown-item mobileCenterLi">Инструменты и расходники</a>
		</div>
	</li>
	<li class="nav-item catalogMenuLink"><a href="/catalog/recro-stone/" class="mobileCenterLi">RecroStone</a></li>
</ul>